select {
    width: 260px;
}

#boldBtn {
    width: 25px;
    height: 25px;
    font-weight: bold;
}

#italicBtn {
    width: 25px;
    height: 25px;
    font-style: italic;
}

#underlineBtn {
    width: 25px;
    height: 25px;
    text-decoration: underline;
}

#normalBtn {
    width: 25px;
    height: 25px;
}

textarea {
    width: 400px;
    height: 200px;
}